@model List<UI_test_player_TD.Model.TestCase>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Casos de Teste
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Casos de Teste
            </li>
        </ol>
    </div>
 </div>


<div class="row">
    <div class="col-lg-12">
        <button type="button" class="btn btn-success">Criar Novo</button>
    </div>
</div>

<div class="row" >
    <div class="col-lg-12">
        <div class="table-responsive">
            <table id="testCaseTable" class="table table-bordered table-hover table-striped display">
                <thead>
                    <tr>
                        <th>Sistema</th>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Módulo</th>
                        <th>Função</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var testCase in Model)
                    {
                        string classe = "";
                        if (!testCase.UltimaSituacao.HasValue)
                        {
                            classe = "info";
                        }
                        else
                        {
                            if (testCase.UltimaSituacao.Value == true)
                            {
                                classe = "success";
                            }
                            else
                            {
                                classe = "danger";
                            }
                        }
                        <tr class="@classe">
                            <td>@testCase.SistemaPai.Nome</td>
                            <td>@testCase.Codigo</td>
                            <td>@testCase.Nome</td>
                            <td>@testCase.Modulo</td>
                            <td>@testCase.Funcao</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
