@model UI_test_player_TD.Model.TestCase
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li><strong>Sistema:</strong> @Model.SistemaPai.Nome</li>
    <li><strong>Código:</strong> @Model.Codigo</li>
    <li><strong>Nome:</strong> @Model.Nome</li>
    <li><strong>Descrição:</strong> @Model.Descricao</li>
    <li><strong>Módulo:</strong> @Model.Modulo</li>
    <li><strong>Função:</strong> @Model.Funcao</li>
    <li><strong>Pré-Condição:</strong> @Model.PreCondicao</li>
    <li><strong>Pós-Condição:</strong> @Model.PosCondicao</li>

    
</ul>








