@*@using UI_test_player_TD.Model*@
@model UI_test_player_TD.Model.TestCase
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Codigo</h2>
<h3>@Model.Nome</h3>
<h3>@Model.Descricao</h3>
<h3>@Model.Modulo</h3>
<h3>@Model.Funcao</h3>
<h3>@Model.PreCondicao</h3>
<h3>@Model.PosCondicao</h3>
<h3>@Model.SistemaPai.Nome</h3>

